<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>945656432540-40c4r3omsodsmb8pks4lbnsj8v9lcpa3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.945656432540-40c4r3omsodsmb8pks4lbnsj8v9lcpa3</string>
	<key>API_KEY</key>
	<string>AIzaSyByufIqDOP4zxD2yA7qxsW9age0Uj_Nqyc</string>
	<key>GCM_SENDER_ID</key>
	<string>945656432540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yaroDev.Spill</string>
	<key>PROJECT_ID</key>
	<string>teamworkorganization-e85c7</string>
	<key>STORAGE_BUCKET</key>
	<string>teamworkorganization-e85c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:945656432540:ios:c209d51840a797a716ea59</string>
</dict>
</plist>